.introduction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile_icon {
    border-radius: 50%;
    width: 200px;
    height: auto;
}

.intro-text {
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;
}