body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  background: linear-gradient(to bottom right, #deecc9, #99a8e0);
}

.App {
  display: flex;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin-bottom: 10px;
}

.nav-link {
  text-decoration: none;
  font-size: 30px;
}

.content {
  flex: 1;
  padding: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  border-right: 1px solid #ccc;
  height: 100vh;
}
